<div class="container-fluid paddingDiv">
    <div class="row">
        <div class="col-1"><mat-icon class="hoverPointer" routerLink="/">arrow_back</mat-icon></div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <h1 class="titleRanking">Courses</h1>
        </div>
        <div class="col-6 text-center">
            <h1 class="titleRanking">Classement</h1>
        </div>
    </div>
    
    <div class="row heightRow">
        <div class="col-6 scrollBar">
            <div class="container-fluid">
                <div class="row justify-content-center" *ngFor="let course of listeCourse">
                    <div class="col-2 hoverPointer sizeTextTime hoverBlue" (click)="selectCourse(course)" [ngClass]="{'colorBlue':course._id == listeEleve._id}">
                        {{course.name}}
                    </div>
                    <div class="col-2">
                        <mat-icon class="marginSpinner red hoverPointer" (click)="deleteCourse(course)" >highlight_off</mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 scrollBar">
            <div class="container-fluid ">
                <div class="row justify-content-center" *ngFor="let eleve of listeEleve.time" >
                    <div class="col-2 sizeTextTime">{{eleve.name}}</div>
                    <div class="col-2 sizeTextTime">{{eleve.midTime}}</div>
                    <div class="col-2 sizeTextTime">{{eleve.time}}</div>
                    <div class="col-2"><mat-icon class="marginSpinner red hoverPointer" (click)="deleteTime(eleve)" >highlight_off</mat-icon></div>
                </div>
                
            </div>
        </div>
    </div>



</div>
