.case{
    height: 100px;
    width: 400px;
    background: grey;
    opacity : 0.6;
    border-radius: 20px;
    border: white 1px solid;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center; /* add justify-content property */
    vertical-align: middle; /* add vertical-align property */
}

.case:hover{
    background: #4694FF;
    cursor: pointer;
}