<div class="container-fluid paddingDiv">
    <div class="row">
        <div class="col-6">
            <div class="row justify-content-center">
                <button class="btn btn-success col-3 marginButton btnBorderRadius d-flex justify-content-center align-items-center" (click)="updateListTimeBDD()">Sauvegarder<mat-icon class="marginSpinner" *ngIf="isSaved">check_circle_outline</mat-icon></button>
                <button class="btn btn-success col-3 marginButton btnBorderRadius" (click)="loadingLists()">Charger</button>
                <button class="btn btn-success col-3 btnBorderRadius" (click)="createCourse()">Nouveau</button>
            </div>
        </div>
        <div class="col-6">
            <div class="row text-center">
                <div class="col-12">
                    <h1 class="titleRanking text-center">Classement </h1>
                    <mat-slide-toggle [(ngModel)] = "gameMode" (click)="gameMode ? sortTimesByPoint():sortTimes()">Points</mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="row heightRow w-100 m-0">
        <div class="col-6 d-flex flex-column justify-content-center borderRight">
            <div class="row text-center backgroundImage d-flex align-items-center justify-content-center">
                <h1 class="taille">{{timeElapsedDisplay}}</h1>
            </div>
            <div class="row marginDiv justify-content-center">
                
                <button class="btn btn-success col-2 marginButton d-flex justify-content-center align-items-center btnBorderRadius"
                    (click)="isStarted ? null : sendMessage('start'); isStarted = true"
                    [disabled]="isStarted"><mat-icon>play_arrow</mat-icon></button>
                <button class="btn btn-danger col-2 marginButton d-flex justify-content-center align-items-center btnBorderRadius" (click)="isStarted ? sendMessage('stop') : null; stopTimer(0)"
                    [disabled]="!isStarted"><mat-icon>stop</mat-icon></button>
                <button mat-button class="btn btn-primary col-2 d-flex justify-content-center align-items-center btnBorderRadius"
                    (click)="onConnexion();loading = true">
                    <mat-icon>bluetooth_searching</mat-icon>
                    <mat-spinner class="marginSpinner" diameter="20" strokeWidth="3" color="warn"
                        *ngIf="loading && !isConnected"></mat-spinner>
                    <mat-icon class="marginSpinner" *ngIf="isConnected">check_circle_outline</mat-icon>
                    <mat-icon class="marginSpinner red" *ngIf="!isConnected && !loading">highlight_off</mat-icon>
                </button>
            </div>
        </div>

        <div class="col-6 scrollBar">
            <div class="container-fluid mt-3" *ngIf="!gameMode">
                <div class="row justify-content-center">
                    <div class="col-lg-2 col-4"><h2>Prénom</h2></div>
                    <div class="col-lg-2 col-4"><h2>Milieu</h2></div>
                    <div class="col-lg-2 col-4"><h2>Fin</h2></div>
                    <div class="col-lg-2 col-4"><h2>Actions</h2></div>
                </div>
            <div class="row marginRow justify-content-center" *ngFor="let eleve of listeEleve.time">
                <input type="text" [(ngModel)]="eleve.name" class="col-lg-2 col-4 sizeTextTime"
                    [ngClass]="{'highligthLeft':lastTime == eleve, 'inputBorder':eleve.name!=''}" placeholder="Prénom...">
                <div class="col-lg-2 col-4 d-flex align-items-center sizeTextTime" [ngClass]="{'highligthRight':lastTime == eleve}">
                    {{eleve.midTime}}</div>
                <div class="col-lg-2 col-4 d-flex align-items-center sizeTextTime" [ngClass]="{'highligthRight':lastTime == eleve}">{{eleve.time}}</div>
                <div class="col-lg-2 col-4 d-flex align-items-center">
                    <mat-icon class="marginSpinner red hoverPointer"  (click)="deleteTime(eleve)">highlight_off</mat-icon>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-3" *ngIf="gameMode">
            <div class="row justify-content-center">
                <div class="col-lg-2 col-4"><h2>Prénom</h2></div>
                <div class="col-lg-2 col-4"><h2>Milieu</h2></div>
                <div class="col-lg-2 col-4"><h2>Fin</h2></div>
                <div class="col-lg-2 col-4"><h2>Total</h2></div>
                <div class="col-lg-2 col-4"><h2>Actions</h2></div>
            </div>
            <div class="row marginRow justify-content-center" *ngFor="let eleve of listeEleve.time">
                <input type="text" [(ngModel)]="eleve.name" class="col-lg-2 col-4 sizeTextTime"
                    [ngClass]="{'highligthLeft':lastTime == eleve, 'inputBorder':eleve.name!=''}" placeholder="Prénom...">
                <div class="col-lg-2 col-3 d-flex align-items-center sizeTextTime" [ngClass]="{'highligthRight':lastTime == eleve}">
                    {{eleve.pointMid}}</div>
                <div class="col-lg-2 col-3 d-flex align-items-center sizeTextTime" [ngClass]="{'highligthRight':lastTime == eleve}">{{eleve.pointEnd}}</div>
                <div class="col-lg-2 col-3 d-flex align-items-center sizeTextTime" [ngClass]="{'highligthRight':lastTime == eleve}">{{eleve.pointTot}}</div>
                <div class="col-lg-2 col-3 d-flex align-items-center ">
                    <mat-icon class="marginSpinner red hoverPointer"  (click)="deleteTime(eleve)">highlight_off</mat-icon>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="row justify-content-end mt-4 ">
        <div class="col-2">Sauvegarde actuelle : {{listeEleve.name}}</div>
    </div>

</div>